{%extends 'base.html'%}

{%load static%}
{% block add_css %}
<link rel="stylesheet" href="{% static 'films_gallery/css/addpage.css'%}">
{% endblock %}

{%block title%}
Добавление фильма
{%endblock%}

{% block content%}
<div class="container-add">
    <form action="{% url 'add-film'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for f in form %}
        <p><label for="{{f.id_for_label}}" class="form-label">{{f.label}}: </label>{{f}}</p>
        <div class="form-error">{{f.errors}}</div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{%endblock%}