{% extends 'base.html' %}


{% block add_css %}
{%load static%}
<link type="text/css" href="{% static 'films_gallery/css/info.css'%}" rel="stylesheet">
{% endblock %}

{% block title %} {{film.title}} {% endblock %}

{% block content %}
<div class="card text-center">
    <div class="card-header">
        <i><b>{{film.title}}</b></i>
    </div>
    <div class="card-body">
        {% if film.photo %}
        <img class="card-img-top" src="{{film.photo.url}}" alt="..." style="height:500px; width: auto; margin-top: 2rem;">
        {% else %}
        {%endif%}
        <p class="card-text" style="margin-top:2rem;">{{film.content}}</p>
        <p class="card-text genre"><i> Жанр:
            {% for genre in film.genre.all%}
            <a href="{{genre.get_absolute_url}}"><b>{{genre}}</b></a>
            {%endfor%}
        </i></p>
        <p class="card-text prod"><i> Режиссер:
            {% for prod in film.producer.all%}
            <a href="{{prod.get_absolute_url}}"><b>{{prod}}</b></a>
            {%endfor%}
        </i></p>
        <p class="card-text"><i> Продолжительность: <b>{{film.time}}</b> мин.</i></p>
        <p class="card-text" style="margin-bottom:2rem;"><i> Рейтинг: <b>{{film.rating}}</b> из 100.</i></p>
    </div>
    <div class="card-footer text-muted">
        Дата премьеры:
        <i>{{film.date_publisher}}</i>
    </div>
</div>
{% endblock %}
