div.card {
    background-color: #EAE7DC;
    width: 20rem;
    margin-top: 5%;
    margin-bottom: 5%;
    transition: 0.5s;
}

div.container {
    margin-top: 10px;
}



div.card:hover {
    transform: scale(1.05);

}

h5.card-title{
    color: black;
    text-align:center;
}

p.card-text {
    color: black;
    text-align:center;
}

div.progress-bar{
     color: black;
     background-color: #E98074;
}

nav.mypag{
    display: flex;
    justify-content: center;
    background-color:#8E8D8A;
}

a.page-link{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:2rem;
    font-size:1rem;
    margin: 0 10px;
    border-color:#EAE7DC;
    border-radius:20px;
    background-color:#EAE7DC;
    color:black;
    transition:0.5s;
}

a.page-link:hover{
box-shadow:none;
    border-color:#8E8D8A;
    transform: scale(1.1);
    background-color:#8E8D8A;
    color: #F64C72;
}
a.page_selected{
    box-shadow:none;
    border-color:#F64C72;
    background-color:#F64C72;
}
a.page_selected:hover{
     border-color:#F64C72;
    background-color:#F64C72;
    color: black;
    transform:none;
}









