.card-body{
    margin-left:5%;
    margin-right:5%;
}
div.card{
    width:100%;
}

div.card-body{
    color:black;
    margin-left:0px;
    padding: 0 15%;
    background-color: #EAE7DC;
    width:100%;
}

div.card-header{
    color:black;
    background-color: #D8C3A5;
}

div.card-footer{
    background-color: #D8C3A5;
}

.genre a, .prod a{
    color:black;
    text-decoration: none;
    transition:0.5s;
}
.genre a:hover, .prod a:hover{
    color:#F64C72;
}

.comments_form{
    display: flex;
    flex-direction:column;
    align items: center;
}

.comments, .card{
    background-color: #EAE7DC
}

#text{
    background-color:#D8C3A5;
    margin: 1% 15% 2% 15%;
    width:auto;
    border-color: #E98074;
    border-radius:20px;
}

#save_btn{
    background-color:#D8C3A5;
    border-radius:20px;
    border-color:#E98074;
    color: black;
    margin-left:30%;
    margin-right:30%;
    margin-bottom:2%;
    transition: 0.5s;
}
#save_btn:hover{
    background-color:#D8C3A5;
    border-radius:20px;
    border-color:#E98074;
    color: #E98074;
    margin-left:30%;
    margin-right:30%;
    margin-bottom:2%;
    transform: scale(1.05);
}

#add{
    margin:2% 35% 1% 35%;
    background-color:#D8C3A5;
    border-radius:100px;

}

