.card-body{
    margin-left:5%;
    margin-right:5%;
}
div.card{
    width:100%;
}

div.card-body{
    color:black;
    margin-left:0px;
    padding: 0 15%;
    background-color: #EAE7DC;
    width:100%;
}

div.card-header{
    color:black;
    background-color: #D8C3A5;
}

div.card-footer{
    background-color: #D8C3A5;
}

.genre a, .prod a{
    color:black;
    text-decoration: none;
    transition:0.5s;
}
.genre a:hover, .prod a:hover{
    color:#F64C72;
}