* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

nav {
    background-color: #EAE7DC;
}

.navbar-brand{
    transition: 0.5s;
    color: black;
    text-align: center;
}
.navbar-brand:hover{
    transform:scale(1.1);
    color: #F64C72;
}

div.block-menu{
    background-color: #D8C3A5;
    height: 100%;
    width: 20%;
    text-align: center;
    position: sticky;
    top:5px;
    overflow: scroll;
}

footer{
    background-color: #EAE7DC;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #FCAE3E;
}




